# dependencies
node_modules/

# build
dist/

# logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# environment variables
.env

# prisma
prisma/dev.db
prisma/dev.db-journal

# operating system files
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# coverage
coverage/

# temporary files
.tmp/
.temp/

# ts-node-dev
.rpt2_cache/